.block {
  background: #fff;

  .block-title {
    text-align: center;
    font-size: 35px;
    margin: -10px 0 60px;
  }
}

section.block,
.block-neutral {
  background: $neutralLightColor;
  padding: 70px 0 0;
}

section.block {
  position: relative;
  z-index: 2;
}