label {
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
  padding: 2px 0 1px;
  margin: 10px 0;
  display: block;
}

input {
  font-family: $fontForm;
  font-weight: 100;
  font-size: 15px;
  padding: 13px 15px 12px;
  margin: 0 0 25px;
  color: $fontColorBase;
  background: #eceff4;
  border: 1px solid $neutralColor;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  @include border-radius($borderRadius);
  @include transition(border-color .2s ease-in-out);

  &:focus {
    border-color: $brandColor;
  }

  &.error {
    border-color: #d2335c;
  }

  &[type="submit"] {
    background: $linkColor;
    border: none;
    padding: 14px 16px 13px;
    margin: 0 0 30px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    @include transition(background .2s ease-in-out);

    &:hover {
      background: $linkColorHover;
    }
  }

  &[type="radio"] {
    position: absolute;
    width: 13px;
    height: 13px;
    margin: 3px 0 0 -26px;
    padding: 0;
    -webkit-appearance: radio;
  }

  &[type="checkbox"] {
    position: absolute;
    width: 13px;
    height: 13px;
    margin: 5px 0 0 -28px;
    padding: 0;
    -webkit-appearance: checkbox;
  }
}

.label-winput {
  padding-left: 35px;
}

select {
  width: 100%;
  margin: -5px 0 10px;
}

textarea {
  font-family: $fontForm;
  font-weight: 100;
  font-size: 15px;
  padding: 16px 15px 15px;
  margin: 0 0 25px;
  color: $fontColorBase;
  background: #eceff4;
  border: 1px solid $neutralColor;
  outline: none;
  width: 100%;
  height: 95px;
  resize: vertical;
  -webkit-appearance: none;
  @include border-radius($borderRadius);
  @include transition(border-color .2s ease-in-out);

  &:focus {
    border-color: $brandColor;
  }

  &.error {
    border-color: #d2335c;
  }
}

.form-textarea-wrapper {
  margin: 0 0 25px;
}

.webform-component-markup {
  border-top: 1px solid $neutralColor;
  font-size: 90%;
  padding: 14px 0 0;
  clear: both;
}

.webform-component-fieldset {
  float: left;
  width: 50%;
  padding: 0 0 0 25px;
  position: relative;

  &:first-child {
    padding: 0 25px 0 0;

    &:before {
      display: none;
    }
  }

  &:before {
    @include before-element;
    width: 1px;
    top: 0;
    bottom: 30px;
    margin: 0 0 0 -25px;
    background: $neutralColor;
  }
}

.webform-component-email {
  position: relative;

  &:before {
    @include before-element;
    @extend %sprite;
    width: 16px;
    height: 13px;
    left: 18px;
    top: 16px;
    background-position: -36px -46px;
  }

  input[type="email"] {
    padding-left: 45px;
  }
}

.form-item {
  .description {
    font-size: 80%;
    margin: -20px 0 20px;
  }
}

.form-radios {
  margin: 10px 0;
  overflow: hidden;

  label {
    margin: 0;
    padding: 0;
  }
}

.form-type-radio {
  float: left;
  padding: 2px 0 1px 35px;
  margin: 0 25px 0 0;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
  display: block;
}

.form-radios-ratingstars {
  .form-type-radio,
  label {
    display: none;
  }

  .form-radios-ratingstar {
    display: block;
    float: none;
    margin: 5px 0 15px;
    padding: 0;
  }
}

.star-rating-control {
  display: block;
  overflow: hidden;

  .star-rating {
    @extend %sprite;
    width: 18px;
    height: 15px;
    background-position: -56px -63px;
    float: left;
    position: relative;

    a {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      font-size: 0;
    }
  }

  .star-rating-on,
  .star-rating-hover {
    background-position: -34px -63px;
  }
}