$borderRadius: 5px;

.panel {
  background: $neutralLightColor;
  padding: 35px 30px 18px;
  margin: 0 0 70px;
  @include border-radius($borderRadius);

  .content {
    max-height: 1000px;
  }

  p {
    margin: 0 0 14px;
    font-size: 90%;
  }

  .label {
    font-size: 80%;
    font-weight: 400;
    color: #8493a8;
    text-transform: uppercase;
    padding: 0 0 8px;
    display: block;
  }

  .title {
    font-size: 25px;
    color: $fontColorTitle;
    margin: 0 0 10px;

    a {
      color: inherit;

      &:hover {
        color: $linkColorHover;
      }
    }
  }

  .narrow {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    font-size: 13px;
    padding: 6px 19px 5px;
    margin: 0 0 12px;
    letter-spacing: -.03em;
  }
}

.colored,
section.block,
.block-neutral {
  .panel {
    background: #fff;
  }
}

.panel-image {
  padding: 0;

  .image {
    @include border-radius($borderRadius $borderRadius 0 0);
  }

  .inner {
    padding: 19px 30px 18px;
  }
}

.panel-sidebar {
  margin: 0 0 35px;
  background: transparent;

  .title {
    background: $neutralColor;
    font-size: 20px;
    padding: 22px 30px 23px;
    margin: 0;
    @include border-radius($borderRadius $borderRadius 0 0);
  }

  .tag {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 70%;
    padding: 10px 14px 8px;
    margin: 0 10px 10px 0;
    color: #fff;
    background: $linkColor;
    display: block;
    float: left;
    @include border-radius($borderRadius);

    &.active,
    &:hover {
      background: $linkColorHover;
    }
  }

  .content {
    background: $neutralLightColor;
    font-weight: 400;
    line-height: 1.5;
    padding: 12px 0;
    @include border-radius(0 0 $borderRadius $borderRadius);
  }

  .menu {
    margin: 0 0 0 1px;

    a {
      color: $fontColorBase;
      padding: 13px 50px 13px 30px;
      position: relative;
      display: block;

      &:before {
        @extend %sprite;
        @include before-element;
        width: 7px;
        height: 12px;
        right: 30px;
        top: 20px;
        background-position: -22px top;
        @include transition(transform .2s ease-in-out);
      }

      &:after {
        @include before-element;
        width: 2px;
        background: $brandColor;
        top: 0;
        left: 0;
        bottom: 0;
        display: none;
      }

      &:hover {
        background: #fff;

        &:before {
          @include transform(translateX(5px));
        }
      }

      &.active {
        background: #fff;
        color: $linkColor;

        &:after {
          display: block;
        }
      }
    }

    li {
      &.active-trail {
        a {
          background: #fff;

          &:after {
            display: block;
          }
        }

        ul {
          display: block;
        }

        &.expanded {
          a {
            &:before {
              @include transform(rotate(90deg));
            }
          }
        }
      }
    }

    ul {
      background: #fff;
      position: relative;
      font-size: 85%;
      padding: 0 0 10px;
      margin: 0;
      display: none;

      &:after {
        @include before-element;
        width: 2px;
        background: $brandColor;
        top: 0;
        left: 0;
        bottom: 0;
      }

      a {
        padding: 9px 30px 9px 50px;

        &:before {
          display: none;
        }

        &:hover {
          color: $linkColor;
        }
      }
    }
  }

  ul li {
    padding: 0;
    margin: 0;

    &:before {
      @include before-reset;
    }
  }

  .counter {
    float: right;
    color: #fff;
    background: $brandColor;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    min-width: 32px;
    padding: 2px 5px;
    margin: -1px -10px 0 0;
    @include border-radius(20px);
  }
}

#main.colored {
  .panel-sidebar {
    .content {
      background: #fff;
    }

    .menu {
      a {
        &.active,
        &:hover {
          background: $neutralLightColor;
        }
      }
    }
  }
}

.panel-filter {
  background: $neutralLightColor;
  padding: 0 0 55px;
  @include border-radius($borderRadius);

  .title {
    background: none;
  }

  .content {
    background: #fff;
    padding: 20px 30px;
    border: 1px solid $neutralColor;
    border-width: 1px 0;
    @include border-radius(0);
  }
}

.panel-node {
  margin: 13px 0 35px;

  p {
    font-size: 100%;
  }
}
