.sprite {
  @extend %sprite;
}

.sprite-before {
  &:before {
    @extend %sprite;
  }
}

.sprite-after {
  &:after {
    @extend %sprite;
  }
}

.with-subtitle {
  margin-bottom: 8px;
}

.btn {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 42px 7px;
  margin: 0 0 20px;
  display: inline-block;
  background: $linkColor;
  @include border-radius($borderRadius);

  &:hover {
    background: $linkColorHover;
  }
}

a.btn {
  color: #fff;
}

.btn-alt {
  background: #04be5b;

  &:hover {
    background: adjust-lightness(#04be5b, 5%);
  }
}

.btn-bordered {
  color: $linkColor;
  border: 1px solid $linkColor;
  background: transparent;

  &:hover {
    color: #fff;
    background: $linkColor;
  }
}

a.btn-bordered {
  color: $linkColor;
}

.btn-border {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #fff;
  padding: 13px 20px 12px;
  @include border-radius(24px);
}

a.btn-border {
  color: #fff;

  &:hover {
    background: #fff;
    color: $linkColor;
  }
}

.separator-line {
  height: 5px;
  background-position: -10px -107px;
  background-repeat: repeat-x;
}

.width-full {
  width: 100%;
}

.tbl {
  display: table;
}

.tbl-c {
  display: table-cell;
}

.valign {
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.font-regular {
  font-weight: 400;
}

div.error,
.error {
  color: #d2335c;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .8);
  @extend %loader;
}

.icon-lock {
  width: 20px;
  height: 24px;
  background-position: -54px top;
  margin-top: -2px;
  position: relative;
  display: block;

  &.unlocked {
    background-position: -80px top;
  }

  &.locked {
    background-position: -106px top;
  }
}

.has-tip {
  font-weight: $baseFontWeight;
  color: $linkColor;
  border-color: $linkColor;

  &:hover,
  &:focus {
    color: $linkColorHover;
    border-color: $linkColorHover;
  }
}