.sprite {
  @extend %sprite;
}

.sprite-before {
  &:before {
    @extend %sprite;
  }
}

.sprite-after {
  &:after {
    @extend %sprite;
  }
}

.btn {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 42px 7px;
  margin: 0 0 20px;
  display: inline-block;
  background: $linkColor;
  @include border-radius($borderRadius);

  &:hover {
    background: $linkColorHover;
  }
}

a.btn {
  color: #fff;
}

.btn-bordered {
  color: $linkColor;
  border: 1px solid $linkColor;
  background: transparent;

  &:hover {
    color: #fff;
    background: $linkColor;
  }
}

a.btn-bordered {
  color: $linkColor;
}

.btn-border {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #fff;
  padding: 13px 20px 12px;
  @include border-radius(24px);
}

a.btn-border {
  color: #fff;

  &:hover {
    background: #fff;
    color: $linkColor;
  }
}

.separator-line {
  height: 5px;
  background-position: -10px -107px;
  background-repeat: repeat-x;
}

.width-full {
  width: 100%;
}

.tbl {
  display: table;
}

.tbl-c {
  display: table-cell;
}

.valign {
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}