a {
  @include transition(color .2s ease);

  &.btn, &.btn-bordered, &.btn-border {
    @include transition(background .2s ease);
  }
}

.pager,
#recatSubmenu {
  a {
    @include transition(color .2s ease, background .2s ease);
  }
}

@include keyframes(fade) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}