.tbl-activity {
  .state {
    display: block;
    width: 80px;
    margin: -1px auto 0;
    white-space: nowrap;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 0 6px;
    color: #fff;
    background: $brandColor;
    @include border-radius($borderRadius);

    &.ongoing {
      background: #a93aba;
    }

    &.planned {
      background: #ff9948;
    }

    &.completed {
      background: #04be5b;
    }
  }

  .fixed-size {
    width: 100px;
  }
}

#activityMap {
  width: 1190px;
  height: 746px;
  margin: 0 auto 35px;
  position: relative;

  .markers {
    position: absolute;
    top: 0;
    left: 0;
  }

  .marker {
    display: block;
    position: absolute;
    font-family: $fontAlt;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
    color: $fontColorTitle;
    margin: -50px 0 0 30px;

    &:before {
      @include before-element;
      width: 34px;
      height: 48px;
      left: 0;
      top: 0;
      margin: 0 0 0 -46px;
      background-position: -131px top;
      @include transition(transform .2s ease);
    }

    &:hover {
      &:before {
        @include transform(translateY(-2px));
      }
    }
  }

  svg {
    touch-action: none;
  }

  .jvectormap-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    touch-action: none;
  }
}

.jvectormap-tip {
  display: none !important;
}