#footer {
  background: $backgroundBase;
  padding: 26px 0 0;
  position: relative;
  z-index: 2;

  .copyright {
    text-align: center;
    font-size: 80%;
    color: #8493a8;
    border-top: 1px solid #54657e;
    padding: 13px 0 0;
    margin: 13px 0 0;
  }

  p {
    margin: 0 0 13px;
  }
}