#mainNav {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  margin: 15px 0 0;

  .menu {
    margin: 0;

    .menu {
      line-height: 1.2;
      max-width: 400px;
      min-width: 250px;
      position: absolute;
      text-transform: none;
      padding: 23px 0 0;
      margin: 0 0 0 20px;
      z-index: 99;
      top: 100%;
      display: none;

      li {
        float: none;
        padding: 0;
        margin: 0;
        background: #eceff4;
        border-top: 1px solid #cad3df;

        &:before {
          display: none;
        }

        &.first {
          border: none;
          padding: 6px 0 0;
          @include border-radius($borderRadius $borderRadius 0 0);
        }

        &.last {
          padding: 0 0 6px;
          @include border-radius(0 0 $borderRadius $borderRadius);
        }
      }

      a {
        display: block;
        padding: 16px 29px 15px;
        @include transition(color .2s ease-in-out, background .2s ease-in-out, padding .1s ease-in-out);

        &:hover,
        &.active {
          background: #fff;
        }

        &:hover {
          padding-left: 32px;
          padding-right: 26px;
        }
      }
    }
  }

  li {
    list-style: none;
    padding: 0 0 24px;
    margin: 0 18px;
    float: left;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &:before {
      content: " ";
      height: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      background: $brandColor;
      @include transition(height .2s ease-in-out);
    }

    &:hover,
    &.active-trail {
      &:before {
        height: 2px;
      }
    }

    &.expanded:hover {
      .menu {
        display: block;
      }
    }
  }

  a {
    color: $fontColorBase;

    &.active,
    &.active-trail,
    &:hover {
      color: $linkColor;
    }
  }
}

#footerNav {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 0 20px;

  .menu {
    margin: 0;
    text-align: center;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0 18px;
    display: inline-block;

    &:before {
      @include before-reset;
    }
  }

  a {
    color: #fff;

    &:hover {
      color: $linkColor;
    }
  }
}
